{% load bootstrap4 %}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/css.css" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    
    <title>Document</title>
  </head>
  <body>
    <!---I WROTE THIS CODE-->
    
    <!-- User-related data -->
    <!-- currentuser username data -->
    {{ user.username|json_script:"username" }}
    <!-- currentuser id data -->
    {{ appuser.id|json_script:"id" }}
    <!-- contact username data -->
    {{ contact.user.username|json_script:"contact_username" }}
    <!-- contact id data -->
    {{contact.id|json_script:"contact_id" }}

    <script>
      // JavaScript variables
      var id = JSON.parse(document.getElementById("id").textContent);
      var csrftoken = "{{ csrf_token }}";
    </script>

    <!-- Navigation bar -->
    <ul class="navbar">
      <li class="nav-logo"><i class="fas fa-low-vision"></i> Shine In Darkness</li>
      <div id="search_user">
        <!-- Search input -->
        <input id="search_input" type="text" placeholder="Search" />
        <!-- Search results container (hidden by default) -->
        <div style="display: none" id="search_list">
          <ul></ul>
        </div>
      </div>
      <li class="nav-item"><a href="../disease_overview">Stargardt Disease</a></li>
      <li class="nav-item"><a href="../profile">Profile</a></li>
      <li class="nav-item"><a style="color: red;" href="../forum/">Forum</a></li>
      {% if appuser.group == 'patient' %}
      <li class="nav-item"><a href="../patient_volunteer_helps">Need Volunteers?</a></li>
      {% endif %}
      {% if appuser.group == 'volunteer' %}
      <li class="nav-item"><a href="../all_patient_volunteer_helps">Volunteer Yourself</a></li>
      {% endif %}
      <li class="nav-item">
        <a href="../logout"
          ><i
            style="font-size: 140%; margin-right: 20px"
            class="fas fa-sign-out-alt"
          ></i
        ></a>
      </li>
    </ul>
   <h1 id="forum_page_title">MyForum</h1>
   <div id="page_banner">
     
     <img id="page_banner_image" style="object-fit:cover;" width="80%" src="../../static/assets/pexels-karolina-grabowska-4467735.jpeg" alt="">
   </div>
   <div id="forum_top_section">
     <form style="margin: 0%;" method="get" action="">
      
    <label for="category">Select a Category:</label>
    <select name="category" id="category">
       
       {% for category in categories %}
            <option value="{{ category }}" {% if selected_category == category %}selected{% endif %}>{{ category }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Search">
</form>
  <div id="post">
    <a href="../user_forum_posts/">
      <button id="post_button">Your Posts</button>
    </a>
    <a href="../create_forum_post/{{appuser.id}}">
      <button id="post_button">Create+</button>
    </a>
  </div>

</div>

<h2>Forum Posts</h2>
<div id="main_body_forum"> 

    {% for forum_post,comment_count in forum_posts %}
        <div class="forum_post_container">
            <a href="../forum_post_content/?postId={{forum_post.id}}">
                 <div class="forum_user_details" >
              <img
              {% if forum_post.creator.profile_image %}
                src="../../../images/{{forum_post.creator.profile_image}}"
                {% else %}
                src="../../static/assets/blank-profile.jpeg"
                {% endif %}
                alt=""
              />
              
              <p>{{ forum_post.creator.name }}</p>
              <p style="font-style: italic;">{{forum_post.created_at.date}}</p>
            </div>
             <h3 style="margin:0 0 0 0;  " class="forum_post_title">{{forum_post.title}}</h3>
              <p style="padding: 0%;" class="post_comment_count"> <i class="fas fa-comment-alt"></i> {{comment_count}}</p>
              </a>
              {% if forum_post.creator.name == appuser.name %}
              <a class="forum_post_update_button" href="../update_forum_post/{{forum_post.id}}" ><i class="fas fa-edit"></i></a>
              <a class="forum_post_delete_button" href="../deleteForumPost/{{forum_post.id}}" ><i class="fas fa-trash-alt"></i></a>
              {% endif %}
            </div>
        
       



        {% empty %}
        <div>No forum posts found.</div>
        {% endfor %}
        
    </div>





    </body>
    <div id="accessibility">
    <div id="accessibility-top-section">
      <h2>Accessibility</h2>
      <i id="slideUp" class="fas fa-angle-up"></i>
      <i style="display: none;" id="slideDown" class="fas fa-angle-down"></i>
    </div>

    <div style="display:none;" id="accessibility-content-container">
  
      <div style="margin-top: 10px;">
    <label for="text-size">Text Size</label>
    <div id="text-size-container">
      <select id="text-size">
        <option  value="100%">100%</option>
        <option  value="125%">125%</option>
        <option value="150%">150%</option>
      </select>
    </div>
  </div>

  <div id="theme-buttons-container">
    <label>Theme</label>
    <div id="theme-buttons">
      <button onclick="changeTheme('white','black')" class="theme-btn" data-theme="white">A</button>
      <button onclick="changeTheme('black','yellow')" class="theme-btn" data-theme="black">A</button>
      <button onclick="changeTheme('yellow','blue')" class="theme-btn" data-theme="yellow">A</button>
    </div>
  </div>

  <div id="readAloudToggleContainer">
    <button id="readAloudToggle">Toggle Read Aloud</button>
  </div>

  <div id="reset-btn-container">
    <button id="reset-btn">Reset to default</button>
  </div>
 </div>
</div> 
  <!-- JavaScript file for functionality -->
  <script src="../../static/js/profile.js"></script>
  <script src="../../static/js/accessiblity_controller.js"></script>
</html>